/* Write your CSS here */
.prime-video {
  width: 100%;
  height: 30vh;
}

.second-container {
  background-color: #231f20;
  padding: 18px;
}

.movies-heading {
  color: #ffffff;
  font-family: 'Roboto';
  margin-left: 6px;
}
